*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;

}
.header{
    height: 100vh;
    background-image: linear-gradient(/* to set background image*/
        to right bottom,
        rgba(29, 53, 87, 0.5),
        rgba(69, 123, 157, 0.5)) ,
        url(../images/Scoop\ La\ Jolla\ Ice\ Cream.jpg) ;/* Apply gradient to background image*/
    background-size: cover; /* Specifies the size of the background images*/
    background-position: center;  
    position: relative; 
    clip-path:polygon(0 0, 100% 0, 100% 700px, 0 100% ) ;/*Specifies a clipping path where everything inside the path is visible and everything outside is clipped out.*/
} 
.header-1{
    height: 50vh;
    background-image: url(../images/strawberries-and-cream-in-jar.jpg);
    background-size: cover;
    background-position: center;  
    position: relative; 
}
.logo-box{
    display: flex;/* to display flex*/
    height: 50px;
    top: 40px;
    width: 60px;
}
.logo{
    width: 40px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    z-index: 10; /* 'z-index' property specifies the stack level*/
}
.navbar a{
    padding: 5px;
}
/* navbar */
.navbar{
    display: flex;
    align-items: center; /*Aligns flex items along the cross axis of the current line of the flex container.*/
    justify-content: space-between; /* Aligns flex items along the main axis of the current line of the flex container*/
    width: 100%;
    height: 70px;
    background: rgb(0, 0, 0);
    color: white;
    top: 0px;
    padding: 0 15px;
}
.navbar a{
    color: #fff;
    margin: 0 5px;
}
.navbar a:hover{
    border-bottom: #2f70d3 2px solid;
}
.navbar ul{
    display: flex;
}
 .text-box{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 .text-primary{
     font-weight: bold;
     color: #1d3557;
     font-style: italic;
     padding: 0 20px;
 }
 .heading-primary{
     color: #fff;
     backface-visibility: hidden;/* to hide back side transform from viewer*/
 }
 .heading-primary-main{
     display: block;
     font-size: 50px;
     font-weight: 400;
     letter-spacing: 10px;
     animation-name: moveInLeft;
     animation-duration: 1s; /* Defines the length of time that an animation takes to complete one cycle*/
     animation-timing-function: ease-out;/*Describes how the animation will progress over one cycle of its duration*/
 }
 .heading-primary-sub{
     display: block;
     font-size: 40px;
     font-weight: 400;
     letter-spacing: 14px;
     animation:moveInRight 1s ease-out;
 }

 @keyframes moveInLeft{
     0%{
         opacity: 0;
         transform: translateX(-100px);/* to set two-dimensional transformation through the 'transform' property*/
     }
     80%{
         transform: translateX(20px);
     }
     100%{
         opacity: 1;
         transform: translateX(0);
     }
 }
 @keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.team img{
    border-radius: 50%;
    height: 70%;
    width: 300px;
}
/* About */

.page-container{
    margin-bottom: 10px;
    grid-gap:1.5rem;
}
.page-container > *:first-child{
    grid-row: 1 / span 3;
}
.container{
    margin: 0 20px;
}
.card{
    margin: 20px 0;
}
.l-heading{
    font-size: 30px;
    color: #1d3557;
}
.bg-primary{
    background-color: #151439;
    color:#fff ;
    margin-left: 20px;
    margin-right: 20px;
}
.card{
    padding: 10px;
}
/* services */
.section-header{
    padding: 30px;
    display: flex;
    flex-direction: column; /*  to set the direction of the flex container’s main axis*/
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section-header h2{
    font-size: 40px;
}
 .section-padding{
   margin: 0 20px;

 }
 .flex-grid .row{
     flex-wrap: wrap;/* to wrap flex items*/
     padding:  0 4px;
 }
 .flex-grid .column{
     flex: 25%;/*  for flexible lenght */
     max-height: 25%;
     padding:  0 4px;
     height: 100%;
 }
 .column img{
     width: 100%;
     height: 40%;
 }
 .products img:hover{
    opacity: 0.7;
}
.flex-items{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.flex-items>div{
    padding: 20px;
}
/* contact */
.contact-form{
    width: 100%;
    padding: 20px 0;
}
.contact-form label{
    display: block;
    margin-bottom: 5px;
    color: #000;
}
.contact-form .from-control{
   margin-bottom: 15px;
}
.contact-form input{
    width: 100%;
    padding: 4px;
    height: 60px;
    border: #333 1px solid;
}
textarea{
    width: 100%;
    height: 200px;
}
 .contact-form .btn{
     padding: 12px 0;
     margin-top: 20px;
 }
 iframe{
    width: 100%;
    height: 600px;
}
.flex-columns.flex-reverse .row{
    flex-direction: row-reverse;
}
.flex-columns .row{
    flex-wrap: wrap;
    width: 100%;
}
.flex-columns .column{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    flex-basis: 100%;
    flex: 1;
}
.flex-columns .column .column-1,
.flex-columns .column .column-2{
    height: 100%;
}
.flex-columns img{
    height: 100%;
    width: 100%;
    object-fit: cover;/* Specifies how the contents of a replaced element should be scaled relative to the box established by its used height and width.*/
}
.flex-columns .column .column-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.flex-columns h2{
    color: #1d3557;
    font-size: 40px;
    font-weight: 100;
}

.btn{
    cursor: pointer;
    padding: 10px 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    opacity: 0.9;
    color: #000;
    background-color: #fff;
}
.btn-primary{
    background-color: #151439;
    font-size: 18px; 
}
.btn-block{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
    background-color:rgba(0, 0, 0, 0.5);
    border: solid 1px #fff;
}

/* footer */
.bg-dark{
    background: rgb(0, 0, 0);
    color: #fff;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}
.footer a{
    color: #fff;
}
.footer a:hover{
    color: #a9a5e2;
}
.footer .social>*{
    margin-right: 30px;
}
/* media queries for tablet */
@media only screen and (min-width: 768px){
    .text-primary{
    font-size: 20px;
    }
    .flex-grid .row{
        display: flex;
    }
    .flex-items{
        display: flex;
        flex-direction: row;
    }
.flex-columns .row{
    display: flex;
    } 
}
/* media query for web */
@media only screen and (min-width: 1300px){
    .about-container{
        max-width: 1200px;
        width: 1100px;
        margin: auto;
    }

    .page-container{
        display: grid;
        grid-template-columns: 4fr 2fr;
    }
    
    .section-padding{
        margin-bottom: 50px;
    }
}